<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block bootstrap_css %}
    <link rel="stylesheet" href="{% static "app1/css/bootstrap.css" %}">
    {% endblock bootstrap_css %}    
    {% block corecss %}
    <link rel="stylesheet" href="{% static "app1/css/style.css" %}">
    {% endblock corecss %}
</head>
<body>
    <ul>
        <li>Home</li>
        <li>Django</li>
        <li>Python</li>
    </ul>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Link</button>
    {% block content %}{% endblock content %}
    {% block footer %}this is a footer{% endblock footer %}
    {% block bootstrap_js %}
    <script src="{% static "app1/js/bootstrap.js" %}"></script>
    {% endblock bootstrap_js %}
</body>
</html>