<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Registeration</h1>
    {% comment %} <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form> {% endcomment %}
    <form action="" method="post" novalidate>
        {{form.non_field_errors}}
        {% csrf_token %}
        {% for field in form  %}
        <div>
            {{field.label_tag}} {{field}} {{field.errors}}
        </div>
        {% endfor %}
    </form>
</body>
</html>