<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title> 
    {% bootstrap_css %}
    {% bootstrap_javascript %} 
    <link rel="stylesheet" href="{% static "app1/css/style.css" %}">
</head>
<body>
    <ul>
        <li>Home</li>
        <li>Django</li>
        <li>Python</li>
    </ul>
    {% bootstrap_messages %}
    {% block content %}{% endblock content %}
    {% block footer %}this is a footer{% endblock footer %}
</body>
</html>