<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block corecss %}<link rel="stylesheet" href="{% static "app1/css/style.css" %}">{% endblock corecss %}
</head>
<body>
    <ul>
        <li>Home</li>
        <li>Django</li>
        <li>Python</li>
    </ul>
    {% block content %}{% endblock content %}
    {% block footer %}this is a footer{% endblock footer %}
</body>
</html>