{% extends 'account/base.html' %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="flex items-center justify-center px-4 py-8">
  <div class="w-full max-w-md p-8 space-y-6 bg-gray-800 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center">Change Password</h2>
    
    <form action="{% url 'password_change' %}" method="POST" class="space-y-6" novalidate>
      {% csrf_token %}
      <!-- Old Password Field with Errors -->
      <div>
        <label for="old_password" class="block text-sm font-medium">Old Password</label>
        <input type="password" name="old_password" id="old_password" class="block w-full mt-1 border-gray-600 rounded-md shadow-sm bg-gray-700 text-gray-200 p-2" required>
        {% if form.old_password.errors %}
          <p class="text-sm mt-1 text-red-500">
            {% for error in form.old_password.errors %}
                {{ error }}
            {% endfor %}
          </p>
        {% endif %}
      </div>
      
      <!-- New Password Field with Errors -->
      <div>
        <label for="new_password1" class="block text-sm font-medium">New Password</label>
        <input type="password" name="new_password1" id="new_password1" class="block w-full mt-1 border-gray-600 rounded-md shadow-sm bg-gray-700 text-gray-200 p-2" required>
        {% if form.new_password1.errors %}
        <p class="text-sm mt-1 text-red-500">
          {% for error in form.new_password1.errors %}
              {{ error }}
          {% endfor %}
        </p>
        {% endif %}
      </div>
      
      <!-- Confirm New Password Field with Errors -->
      <div>
        <label for="new_password2" class="block text-sm font-medium">Confirm New Password</label>
        <input type="password" name="new_password2" id="new_password2" class="block w-full mt-1 border-gray-600 rounded-md shadow-sm bg-gray-700 text-gray-200 p-2" required>
        {% if form.new_password2.errors %}
        <p class="text-sm mt-1 text-red-500">
          {% for error in form.new_password2.errors %}
              {{ error }}
          {% endfor %}
        </p>
        {% endif %}
      </div>

      <!-- Submit Button -->
      <button type="submit" class="w-full px-4 py-2 text-white bg-rose-500 rounded-md hover:bg-rose-600">Change Password</button>
    </form>
  </div>
</div>
{% endblock content %}
