<!--Password Reset or Forgot Password Form-->
{% extends 'account/base.html' %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
<div class="flex items-center justify-center px-4 py-8">
  <div class="w-full max-w-md p-8 space-y-6 bg-gray-800 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center">Reset Your Password</h2>
    <form action="#" method="POST" class="space-y-6" id="reset-password-form" novalidate>
      {% csrf_token %}
        <div>
            <label for="email" class="block text-sm font-medium">Email</label>
            <input type="email" value="{{ form.email.value|default:'' }}" name="email" id="email" class="block w-full mt-1 border-gray-600 rounded-md shadow-sm bg-gray-700 text-gray-200 focus:border-rose-500 focus:ring-rose-500 p-2" placeholder="you@example.com" required>
            {% if form.email.errors %}
            <div class="text-red-500 text-sm mt-1">
                {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <button type="submit" id="submit-btn" class="w-full px-4 py-2 text-white bg-rose-500 rounded-md hover:bg-rose-600 focus:outline-none">Send Password Reset Link</button>
    </form>
  </div>
</div>

<script>
  // Get references to the form and the submit button
  const form = document.getElementById('reset-password-form');
  const submitBtn = document.getElementById('submit-btn');

  // Add event listener for form submission
  form.addEventListener('submit', function(event) {
    // Disable the button when the form is submitted
    submitBtn.disabled = true;
    submitBtn.innerText = 'Sending...';  // Optional: Change button text to indicate action
  });
</script>
{% endblock content %}